<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <title>Sign Up</title>
</head>
<body>
  
  <div class="container">
  
    <div class="left-side">
      <img class="img-sign" src="https://i.imgur.com/1xzJ8aQ.jpeg" alt="Face is covered in colorful paint with flowers">
    </div>

    <div class="right-side">
      
      <h1 class="name">Sketchery</h1>
      <h2>Create a new account!</h2>
      <div class="form-container">
        <form class="form-sign" action="/auth/sign-up" method="POST">
          <div class="form-item">
            <label for="username">Username:</label>
            <input class="sign-input" type="text" name="username" id="username" required />          
          </div>

          <div class="form-item">
            <label for="password">Password:</label>
            <input class="sign-input" type="password" name="password" id="password" required />
          </div>

          <div class="form-item">
            <label for="confirmPassword">Confirm Password:</label>
            <input 
              class="sign-input"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              required 
            />
          </div>
          <button class="btn-sign" type="submit">Sign up</button>
        </form>
        <p>Already have an account? <a href="/auth/sign-in">Log in</a></p>
      </div>
    </div>

  </div>
</body>
</html>
