<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Artwork</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create new Artwork</h1>

    <form action="/artworks" method="POST">

        <label for="title">Artwork Title:</label>
        <input name="title" id="title" required>

        <label for="imageUrl">ArtWork Imagen URL:</label>
        <input name="imageUrl" id="imageUrl" required>
        
        <label for="artType"> Artwork Type:</label>
        <select name="artType" id="artType">
            <%ART_TYPES.forEach((type) =>{%>
                <option value="<%=type%>"> <%=type%></option>
            <%})%>

        </select>

        <label for= "description">ArtWork Description:</label>
        <textarea name="description" id="description"></textarea>

        <button type="submit"> Create new Artwork</button>

    </form>
    
</body>
</html>