<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>New Artwork</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="main-container">
        <div class="edit-artwork-container">
            <h1>Create new Artwork</h1>
        
            <form class="form-create" action="/artworks" method="POST">
                <div class="form-item">
                    <label for="title">Artwork Title:</label>
                    <input class="edit-input" name="title" id="title" required>
                </div>
        
                <div class="form-item">
                    <label for="imageUrl">ArtWork Imagen URL:</label>
                    <input class="edit-input" name="imageUrl" id="imageUrl" required>
                </div>
                <div class="form-item">
                    <label for="artType"> Artwork Type:</label>
                    <select class="edit-input" name="artType" id="artType">
                        <%ART_TYPES.forEach((type) =>{%>
                            <option value="<%=type%>"> <%=type%></option>
                        <%})%>
            
                    </select>
                </div>
                
                <div class="form-item">
                    <label for= "description">ArtWork Description:</label>
                    <textarea class="textarea2"  name="description" id="description"></textarea>
                </div>
                <button class="btn-create" type="submit"> Create new Artwork</button>
        
            </form>
        </div>

    </div>
    
</body>
</html>