<div class="nav">
    <a href="/">Home</a>
    <%if (user) {%>
        <a href="/artworks">Profile</a>
        <a href="/artworks/explore">Explore</a>
        <a href="/follows">Followers & Following</a>
        <a href="/auth/sign-out">Sign Out</a>
    <%}else{%>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <%}%>    
</div>