@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
  box-sizing: border-box;
  font-family: Helvetica;
}
 body{
    background-color: black;
    color: white;
    margin: 0;
 }
 
 .container{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.left-side{
    width: 100vw;
    overflow-x: hidden;
    background-color: #f8fafb;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img-sign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    width: 100%;

}
.right-side{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: black;
    padding: 0 80px;
    width: 560px;
}
.textarea, .textarea2{
    width: 100%;
    margin-top: 20px;
    min-height: 80px;
    padding: 10px;
    font-size: 14px;
}

.textarea2{
    margin-top: 5px;
}
.form-sign,.form-edit,.form-create{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    flex-direction: column;
}

.form-comment{
    display: flex;
    flex-direction: column;
}

.form-container{
    width: 100%;
}
input{
    font-size: 15px;
}

select{
    font-size: 15px;
}
.sign-input, .edit-input{
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    border-radius: 3px;
    border:1.8px solid #9a9a9a ;
}

.btn-sign {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #9d2e4c;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}


.name,.name2{
    font-family: "Quintessential", serif;
    font-size: 4em;
    font-weight: 600;

}

.nav-without-user{
    display: flex;
    gap: 30px;

}
.nav{
    padding: 30px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    color:white;
    text-decoration: none;

}

.main-container, .main-container2, .main-container3,.main-container4,.main-container5,.main-container6{

    padding: 20px 40px;
    max-width: 100%; 
    width: 100%; 
}

.main-container2, .main-container3,.main-container4,.main-container5,.main-container6{
    background-image: url("https://i.imgur.com/nFR2YBR.jpeg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-container3{
    background-image: url("https://i.imgur.com/QYrJ8zW.jpeg");
}
.main-container4{
    background-image: url("https://i.imgur.com/jyWEgqg.jpeg");
}
.main-container5{
    background-image: url("https://i.imgur.com/GXnK8Ed.jpeg");
}
.main-container6{
    background-image: url("https://i.imgur.com/8gjDTLR.jpeg");
}
.filter-container{
    display: flex;
}

.filter-form{
    display: flex;
    gap: 30px;
}

.no-yet{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.type{
    font-weight: 600;
    background-color: lavender;
    width: max-content;
    padding: 10px;
}

.flex, .flex2,.flex3,.flex4,.flex5,.flex5-container{
    display: flex;
    gap:30px;
    align-items: center;
}
.flex2{
    align-items: start;
}

.flex3,.flex4{
    gap: 20px;
    justify-content: center;
    align-items: end;
}

.flex4{
    justify-content: space-around;
}

.flex5,.flex5-container{
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.flex5-container {
    background-color: #1c1c1cd6;
    width: max-content;
    justify-self: center;
    padding: 50px;
    border-radius: 20px;
}
.avatar{
    padding: 40px;
    background-color: antiquewhite;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #c30000;
    
}
.info-user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info-artwork-container, .edit-artwork-container,.follow-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #ffffff;
    color: black;
    width: min-content;
    justify-self: center;
    padding: 30px;
    border-radius: 30px;
    
}
.follow-container{
    width: max-content ;
    gap: 10px;
}

.edit-artwork-container{
    width: max-content;
}

.artworks-container {
    margin-top: 40px;
    column-count: 4;
    column-gap: 20px;
    max-width: 100%;
}

.card-container {
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 2px 10px;
    break-inside: avoid;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}


.description{
    width: 500px;
}

.card-container:hover{
    transform: scale(1.02);
    background-color: #2e2e2e;
}

.img-artwork{
    width: -webkit-fill-available;
    border-radius: 10px;
    
}

.img-show-artwork{
    width: 350px;
    border-radius: 10px;
}

.actions, .actions2{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: space-between;
}
.actions2{
    justify-content: right;
    gap: 30px;
    margin-top: 20px;

}

.a-username{
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}
.a-edit,.a-new-artwork, .a-edit2{
    text-decoration: none;
    color: #062e9e;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}

.a-edit2{
    border: #062e9e 2px solid;
}

.a-new-artwork{
    padding: 10px;
}

button{
    background-color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.filter, .a-no-yet,.a-nav-without-user,.invitation{
    background-color: white;
    width: fit-content;
    color: #9d2e4c;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;

}
.a-nav-without-user,.invitation{
    border-radius: 10px;
    margin-top: 20px;
}
.a-no-yet,.invitation{
    text-decoration: none;
}
.filters{
    display: flex;
    gap: 30px;
    align-items: center;
}
.btn-create, .btn-edit{
    background-color: #032e9e;
    font-weight: 400;
    padding: 10px;
    color: #ffffff;
}
.btn-save{
    color: #032e9e;
    font-weight: 600;
}
.btn-like, .btn-like2{
    color: #9d2e4c;
    font-weight: 600;
}

.btn-like2{
    border: #9b3450 1px solid;
}

button:hover, .a-edit:hover, .a-new-artwork:hover, .a-edit2:hover,.a-no-yet:hover, .invitation:hover{
    transform: scale(1.1);
}

.btn-edit:hover{
    transform: scale(1.02);
}

.btn-delete{
    background-color: #c30000;
    color: white;
    font-size: 16px;
    font-weight: 400;

}


.comment-container{
    background-color: #d9d8d8;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;

}


@media (max-width: 1400px) {
    .artworks-container {
        column-count: 3;
    }
}

@media (max-width: 1024px) {
    .artworks-container {
        column-count: 2;
    }
}

@media (max-width: 640px) {
    .artworks-container {
        column-count: 1;
    }
    
    .main-container {
        padding: 20px 15px; /* Reduce padding en móvil */
    }
}
